# URL del backend Django (sin barra final)
BACKEND_API_URL=http://localhost:8000

# Misma URL pero accesible en el navegador SOLO si algún día se necesita
# llamar directo desde el cliente a endpoints públicos (no lo usamos para admin).
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000

# Nombre de cookies (no cambiar salvo que sepas por qué)
AUTH_COOKIE_ACCESS=bm_access
AUTH_COOKIE_REFRESH=bm_refresh
